<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shefenqi.SFQLeka">
    <!-- required -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />

    <application>
        <provider
            android:name="com.fenqile.base.FenqileFileProvider"
            android:authorities="${applicationId}.FenqileFileProvider"
            android:exported="false" android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/fenqile_file_paths" />
        </provider>
    </application>
</manifest>